In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
from matplotlib.mlab import PCA as mlabPCA
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [2]:
ds = pd.read_csv(r'C:\Users\jmfra\OneDrive\Documents\Thinkful Data Science Files\1.5.1 data\armenian_pubs.csv')
ds = ds.drop('Timestamp', axis=1)
ds['Occupation'] = ds.Occupation.str.strip()
ds['Fav_Pub'] = ds.Fav_Pub.str.strip()
ds['Fav_Pub'] = ds.Fav_Pub.str.lower()
ds['Fav_Pub'] = ds.Fav_Pub.str.replace('^the ','')
ds['Fav_Pub'] = ds.Fav_Pub.str.replace('i have none','do not have one')
ds['Fav_Pub'] = ds.Fav_Pub.str.replace('37 pub','pub 37')
ds['Freq'] = ds.Freq.str.replace('Several times in a month','Sometimes')
ds['Freq'] = ds.Freq.str.replace('^rarely.+','Rarely')
ds['Freq'] = ds.Freq.str.replace('Several times a week','Often')
ds['Lifestyle'] = ds.Lifestyle.str.strip()
ds['Lifestyle'] = ds.Lifestyle.str.replace('^Adventur.+','Adventurous')
ds['Lifestyle'] = ds.Lifestyle.str.replace('^Busy.+','Busy')
ds['Lifestyle'] = ds.Lifestyle.str.replace('^Rock.+','Musical')
ds['Lifestyle'] = ds.Lifestyle.str.replace('^Business.+','Active')
ds['Lifestyle'] = ds.Lifestyle.str.replace('^Sport\,.+','Active')
ds['Lifestyle'] = ds.Lifestyle.str.replace('^Art','Artsy')

In [3]:
ds['WTS_Interval'] = pd.cut(ds.WTS, 
                            bins=[-1,2000,4000,6000,8000,10000,1000000], 
                            labels=[1,2,3,4,5,6])
wts_interval = ds.groupby('WTS_Interval').size()
print(wts_interval)

WTS_Interval
1    51
2    41
3    48
4     8
5    16
6     8
dtype: int64

In [5]:
ds['WTS_Interval_int'] = ds['WTS_Interval'].astype(int)
print(ds['WTS_Interval_int'])

0               1
1               1
2               2
3               2
4               5
5               1
6               1
7               1
8               5
9               2
10              2
11              1
12              1
13              3
14              1
15              3
16              1
17              4
18              3
19              1
20              4
21              5
22              1
23              2
24              1
25              1
26              1
27              3
28              2
29              6
          ...
145             3
146             3
147             2
148             1
149             5
150             1
151             2
152             3
153             2
154   -2147483648
155             2
156             1
157             5
158             3
159             5
160             6
161             2
162             3
163             2
164             1
165             2
166             5
167             5
168             1
169             2
170             1
171             1
172             3
173             3
174             3
Name: WTS_Interval_int, Length: 175, dtype: int32